body{
    height: 100%;
}
#root{
    height: 100%;
}
.header{
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.content{
    min-height: 600px;
    margin: 10px;
}
.footer{
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 12px 50px !important;
}